@import "swiper/css/bundle";

.slide__img {
  width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  padding: 2rem 1.2rem !important;
  background-color: $searchbar-background;
  color: $primary-color !important;
  @include breakpoint(md) {
    display: none !important;
  }
}

.swiper-pagination-bullet {
  background: $primary-color !important;
}
