.brands {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
    border: 1px solid $text-color;
    width: 225px;
    cursor: pointer;
    @include breakpoint(lg) {
      width: 175px;
    }
    @include breakpoint(md) {
      width: 251px;
    }

    p {
      font-weight: 700;
      transition: 0.3s ease;
    }
    &:hover p {
      color: $primary-color;
    }
  }
  &__img {
    @include breakpoint(lg) {
      position: relative;
      z-index: -1;
    }
    img {
      @include breakpoint(lg) {
        width: 180px;
      }
    }
  }
}
