.content {
  @include breakpoint(sm) {
    max-width: 100%;
    padding: 0 1.5rem;
  }
  &__item {
    &__link {
      width: 270px;
      height: 50px;
      background-color: $navigation-background;
      border-bottom: 1px solid gray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      cursor: pointer;
      transition: 0.3s ease;
      @include breakpoint(sm) {
        width: 100%;
        height: 60px;
      }
      > a {
        color: $content-link;
        font-weight: 500;
      }
      &:hover {
        background-color: gray;
        > a {
          color: #f9f9f9;
        }
      }
    }
  }
}
