.return {
  background-color: $navigation-background;
  padding: 0.5rem;
  &__item {
    display: flex;
    > span {
      margin-inline: 15px;
    }
  }
  &__link {
    color: $searchbar-background;
    > a {
      color: $searchbar-background;
      transition: 0.3s ease;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
