@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  @include breakpoint(lg) {
    max-width: 1000px;
  }
  @include breakpoint(md) {
    max-width: 800px;
  }
  @include breakpoint(sm) {
    display: flex;
    flex-direction: column-reverse;
  }
  &__content {
    padding-top: 20px;
    width: 75%;
    margin-left: 30px;
    @include breakpoint(lg) {
      width: 70%;
    }
    @include breakpoint(md) {
      width: 63%;
    }
    @include breakpoint(sm) {
      width: 100%;
      padding: 1.5rem 1.5rem;
      margin-left: 0;
    }
  }
  &__about {
    margin-bottom: 25px;
  }

  &__blog__item {
    margin-bottom: 25px;
  }
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.brand {
  margin-block: 25px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  @include breakpoint(sm) {
    display: flex;
    justify-content: center;
  }
}
